.wrap-score {
    font-size: 35px;
    background-color: white;
    color: #454545;
    min-width: 250px;
    padding: 10px;
}

.score, .lap {
    margin-bottom: 5px;
    margin-top: 5px;
}

.lap {
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #8a64ff;
}

table {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: solid #e0e0dc;
    border-width: 1px 0 0 1px;
    font-size: 20px;
}

tr {
    margin: 0;
    padding: 0;
    border: 0;
}

td {
    border: solid #e0e0dc;
    border-width: 0 1px 1px 0;
    padding: 6px 8px;
    text-align: left;
}